{% extends 'base.html.twig' %}

{% block title %} Index Nasa {% endblock %}

{% block body %}

<div class="container">
    <h1> Liste des images de la Nasa </h1>

    <div>
        {% for nasa in data %}
            <p> {{ nasa.dateTime|date('Y-m-d') }} : <a href="{{ path('nasa_show_id', {'id': nasa.id }) }}" target="_blank"> {{ nasa.title }} </a></p>
        {% endfor %}
    </div>
</div>
{% endblock %}
